@use '../settings/variables' as global;

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: calc( 2 * var(--padding));
    background: linear-gradient(to right, transparent 0, transparent 65%,var(--background-color) 100%);
    z-index: global.z-index(header);

    h1 {
        display: flex;
        color: transparent;
        user-select: none;

        img {
            height: 50px;
            margin-right: calc( 2 * var(--padding));
        }
    }

    &-wrapper.wrapper {
        max-width: calc( 100% - (4 * var(--padding)));
    }
}