.js-search {
    text-align: right;
    //margin-right: calc((-4) * var(--padding));

    &-input {  
        text-align: right;
        height: 100%;
        background: 0 0;
        font-size: 18px;
        color: rgba(255,255,255,.9);
        border-bottom: solid 1px #fff;
        width: 460px;
        max-width: 80%;
        font-weight: 300;

        &::placeholder {
            color: rgba(255,255,255,.8);
        }
    }
}