:root {
  /* Basics - General variables */
  --fs: 14px;
  --ff: 'Oswald', sans-serif;
  --fw: normal;
  --lh: 1.4;
  --main-color: #41436A;
  --secondary-color: #974063;
  --accent-color: #F54768;
  --text-color: #FF9677;
  --background-color: #180C38;
  --padding: 8px;
  --wrapperWidth: 1460px;
}

html, body, button, input, option, select, textarea {
  font-family: var(--ff);
}

html, body {
  height: 100%;
}

html {
  font-size: var(--fs);
  font-weight: var(--fw);
  line-height: var(--lh);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  overflow-x: hidden !important;
}
  
/* Fix Browsers */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, table, caption, tbody, tfoot, thead, tr, th, td, figure {
  border: 0;
  margin: 0;
  padding: 0;
}
  
// a:active, a:focus, a:hover, button, input:focus {
//   outline: 0;
// }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

*, *:active, *:visited, *:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  outline: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
  
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
  
button, input.button {
  cursor: pointer;
  outline: 0;
  border: none;
}
 
button, input, option, select, textarea {
  color: var(--main-color);
  border-radius: 0;
}

option {
  margin: 5px 0;
}

img {
  user-select: none;
}

img:selection {
  background: 0 0;
}
  
img:-moz-selection {
  background: 0 0;
}

sub, sup {
  height: 0;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
} 

sub {
  top: .5ex;
}

a:active, a:hover, a:link, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@mixin animation-function-simple( $name, $from-values , $to-values ) {
  @keyframes #{$name} {
    0% {
      @each $property , $value in $from-values {
        #{$property} : #{$value};
      }
    }
    
    100% {
      @each $property , $value in $to-values {
        #{$property} : #{$value};
      }
    }
  }
}    
			
@mixin animation-call( $name, $time, $timing-function: ease , $delay : 0s, $fill-mode: forwards) {
  animation: $name $time $timing-function $delay $fill-mode;
  -webkit-animation: $name $time $timing-function $delay $fill-mode;
}

/* Standard Classes */

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

section, %section, .section {
  position: relative;
  height: auto;
}

.maximum, .minimum {
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}

.left, .row {
  float: left;
}

.half {
  width: 50%;
  float: left;
}

.right {
  float: right;
}

.block {
  display: block;
}

.align-center {
  text-align: center;
}

.fix-float:after {
  content: '';
  display: table;
  clear: both;
}

.border-box, .maximum, .minimum {
  box-sizing: border-box;
}

.sticky , %sticky {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position:absolute;
}

.flex, %flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-reverse {
  @extend %flex;
  flex-direction: row-reverse;
}

.flex-column {
  @extend %flex;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.row {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative;
 // overflow: hidden;
}

%float-none , .float-none , .maximum , .minimum {
  margin: 0 auto;
  float: none;
}

.animated {
  perspective: 1000px;
  -webkit-perspective: 1000px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translate3d(0,0,0);
}

.rounded {
  border-radius: 6px;
}

::selection, ::-moz-selection {
  background: rgba(0,0,0,0.4);
  color: var(--main-color);
}

// General Includes - Definitions

@include animation-function-simple( fade , ( "opacity" : "0" , "visibility" : "hidden" ) , ("opacity" : "1" , "visibility" : "visible") );

/* Transitions */

.smooth-fast, %smooth-fast {
  transition: all .3s ease 0s;
}

.smooth-medium, %smooth-medium {
  transition: all .5s ease 0s;
}

.smooth-slow, .btn, %smooth-slow {
  transition: all .8s ease 0s;
}

.reduced-motion * {
  transition: none !important;
}

a:not([class]) {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: all 0.3s ease-out;
    width: 0;
  }

  &:hover:after {
    width: 100%;
  }
}